/**************************BEGIN TITLE TOP*****************************/


body {
    background: white;
}

h1 {
    position: fixed;
    width: 100%;
    background: black;
    height: 40px;
    margin-top: 0px;
    line-height: 40px;
    z-index: 10;
}

.top-text, .footer-text {    
        color: #f1f1f1;
        font-family: "Futura", sans-serif;
        font-size: 1.2em;
        font-weight: bolder;
        text-decoration: none;
        margin: 60px;
}
.top-text:hover {
        color: #386fa4;
}

.top-img1 {
    margin-top: 5px;
    margin-left: 8px;
    position: absolute;
    opacity: 100%;
    width: 30px;
}
.top-img2 {
    margin-top: 5px;
    margin-left: 8px;
    position: absolute;
    opacity: 0%;
    width: 30px;
}

h1:hover {
    transition: 1s;
    transform: scale(1);
    padding: 10px 10px 10px;
    color: #f1f1f1;
}
h1:hover .top-img1 {
    transition: 1s;
    transform: scale(1.6);
}
h1:hover .top-img2 {
    transition: 1s;
    transform: scale(1.6);
}
.top-img1:hover {
    transition: 1s;
    transform: scale(1.6);
    opacity: 0%;
}
.top-img2:hover {
    transition: 1s;
    transform: scale(1.6);
    opacity: 100%;
}

h1:hover .top-text {
    transition: 1s;
    font-size: 1.6em;
}



                            /***FOOTER***/
#bottom {
    background: black;
    padding: 25px 0px 150px 0px;
    text-align: center;
    margin-top: -10px
}
#copy {
    color: #f1f1f1;
    padding: 75px;
    font-size: 1em;
}
                            /***FOOTER***/



/**************************END TITLE TOP*****************************/
/***********************BEGIN IMAGE WEBPAGE**************************/

.main {
    padding-top: 40px;
    width: 100%;
}
.main2 {
    padding-top: 40px;
    position: absolute;
    top: 15%;
    right: 0%;
    z-index: 8;
}
.main-logo {
    position: absolute;
    top: 10%;
    right: 7.5%;
    z-index: 9;
}


/***********************END IMAGE WEBPAGE**************************/
  /******************BEGIN HOME CONTENT ONE STYLE*********************/

.verse {
    background: black;
    width: 100%;
    margin-top: -10px;
    color: #f1f1f1;
    padding: 75px 0px 75px 0px;
    text-align: center;
    z-index: 9;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-variant: small-caps;
    font-size: 1.4em;
    font-weight: bolder;
}


  /*******************END HOME CONTENT ONE STYLE***********************/


/*******************BEGIN ABOUT STYLE***********************/


.about-me, .about-me1 {
    height: 400px;
}
.about-images {
    text-align: center;
}

.about-top {
    color: black;
    position: relative;
    text-align: center;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-variant: small-caps;
    font-size: 1.6em;
    font-weight: bolder;
    z-index: 9;
    padding-bottom: 140px;
}
.about-text {
    color: black;
    position: relative;
    text-align: center;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-variant: small-caps;
    font-size: 1.6em;
    font-weight: bolder;
    z-index: 9;
    padding-top: 100px;
    padding-bottom: 140px;
}


/*******************END ABOUT STYLE***********************/
/*******************BEGIN CONTACT STYLE***********************/

.contact-top, .about-top {
    padding-top: 140px;
    color: black;
    font-family: "Futura", sans-serif;
    font-size: 5em;
    font-weight: bolder;
}

h2 {
    text-align: center;
    height: 40px;
    line-height: 40px;
    z-index: 8;
}

.logo-bar {
    text-align: right;
    margin-right: 0px;
    z-index: 7;
}
.logo-bar1 {
    position: absolute;
    z-index: 7;
    margin-top: 450px;
}

#contact-mail {
    position: absolute;
    opacity: 100%;
    margin-top: -120px;
}
#contact-mail1 {
    position: absolute;
    margin-top: -120px;
    opacity: 0%;
}
#contact-mail:hover {
    transition: 0.5s;
    opacity: 0%;
}
#contact-mail1:hover {
    transition: 0.5s;
    opacity: 100%;
}


#contact-insta {
    position: absolute;
    opacity: 100%;
    margin-top: -35px;
}
#contact-insta1 {
    position: absolute;
    opacity: 0%;
    margin-top: -35px;
}
#contact-insta:hover {
    transition: 0.5s;
    opacity: 0%;
}
#contact-insta1:hover {
    transition: 0.5s;
    opacity: 100%;
}

#contact-face {
    position: absolute;
    opacity: 100%;
    margin-top: 50px;
}
#contact-face1 {
    position: absolute;
    opacity: 0%;
    margin-top: 50px;
}
#contact-face:hover {
    transition: 0.5s;
    opacity: 0%;
}
#contact-face1:hover {
    transition: 0.5s;
    opacity: 100%;
}

.con-images {
    position: relative;
    text-align: left;
    margin-left: 20px;
    z-index: 9;
    
}

.contact-img, .about-img {
 width: 100%;
}

#con-text, #con-text1, #con-text2 {
    color: black;
    position: relative;
    text-align: center;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-variant: small-caps;
    font-size: 1.6em;
    font-weight: bolder;
    z-index: 9;
    padding-bottom: 140px;
}

/*******************END CONTACT STYLE***********************/